/*header*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: raleway, sans-serif;
  margin: 0;
}
@media screen and (min-width: 1440px) {
  body {
    margin: 50px;
    margin-top: 0;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.right_menu {
  padding-left: 500px;
}
.image {
  width: 100%;
}
.image_container {
  width: 80px;
  margin-left: 20px;
}
.menu_link {
  text-decoration: none;
  padding: 20px;
  color: black;
  width: 50%;
  text-align: center;
  border-bottom: solid 3px #f2f2f2;
}
.menu_link:hover {
  color: #0065fc;
  border-bottom: 3px solid #0065fc;
}
.menu_link_default {
  color: #0065fc;
  border-bottom: 3px solid #0065fc;
}
.signup_link {
  text-decoration: none;
  color: #0065fc;
  font-weight: 700;
  float: right;
  padding-right: 20px;
}
.activities_link {
  color: black;
  text-decoration: none;
  padding: 0 60px;
}
.activities_link:hover {
  padding-top: 20px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-top: 4px solid #0065fc;
}
@media screen and (min-width: 769px) {
  .body {
    font-family: raleway, sans-serif;
    margin: 20px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 0;
  }
  .image_container {
    width: 10%;
  }
  .menu {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
    height: 100%;
    max-width: 300px;
    margin-left: auto;
  }
  .signup_link {
    text-align: right;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-top: 5px;
    padding: 2rem;
  }
  .menu_link {
    margin-right: 50px;
    border-bottom: none;
    padding: 0 20px 40px 0;
  }
  .menu_link_default {
    border-bottom: none;
    border-top: 4px solid #0065fc;
    padding: 40px 20px;
  }
  .menu_link:hover {
    border-bottom: none;
  }
}
/* main*/
/* 2 titres*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container_main {
  text-align: left;
  padding-top: 40px;
  padding-left: 10px;
}
.first_title {
  margin-left: 20px;
  padding-top: 10px;
}
p {
  margin-left: 10px;
}
@media screen and (min-width: 769px) {
  .first_title {
    padding-left: 10px;
  }
  p {
    padding-left: 12px;
  }
}
/* map, placeholder, button*/
.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  height: 70px;
  width: 100%;
  margin-top: 20px;
  padding: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  padding-left: 25px;
}
.image_input {
  height: 50px;
  width: 40px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  border: solid 1px #deebff;
}
.fa {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  padding-left: 10px;
}
.map {
  color: black;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 20px;
}
.town {
  height: 50px;
  width: 200px;
  font-weight: 600;
  font-size: large;
  margin-left: 0;
  border: solid 1px #f2f2f2;
  text-align: center;
}
.fa-search {
  color: white;
  padding-left: 0;
}
.search {
  display: none;
}
.search_mobile {
  display: block;
  width: 45px;
  height: 50px;
  background-color: #0065fc;
  color: white;
  border: none;
  border-radius: 10px 10px 10px 10px;
  border: 1px black solid;
}
@media screen and (min-width: 769px) {
  #input_with_icon {
    padding-left: 30px;
  }
  .search {
    display: block;
    background-color: #0065fc;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 0 10px 10px 0;
    border: solid #e0e0e0 0;
    font-size: 20px;
  }
  .search_mobile {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .icon {
    padding-left: 15px;
  }
}
/* Filtres */
.Filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  margin-top: 25px;
  text-align: left;
  flex-wrap: wrap;
  width: 100%;
  font-weight: bold;
}
.Filters-categories {
  margin-left: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  height: 50px;
  padding-right: 16px;
  margin-bottom: 15px;
}
.Filters-categories:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: #deebff;
  border: none;
}
.Filters-categories .Filters-icons {
  background-color: #deebff;
  height: auto;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #0065fc;
}
.Filters-categories .details {
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
  font-size: 15px;
}
.details:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 0 3px 2px #d8d7d7;
  box-shadow: 0 0 3px 2px #d8d7d7;
}
.details {
  width: auto;
  font-weight: bold;
}
@media screen and (min-width: 769px) {
  .Filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 25px;
    text-align: left;
    width: 100%;
  }
  .title_filter {
    margin-top: 20px;
  }
}
/* info */
.info {
  padding-left: 20px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.icon_info {
  margin-right: 5px;
  font-size: 15px;
  border: 10px solid #f2f2f2;
  border-radius: 20px;
  color: #0065fc;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.info_title {
  font-size: medium;
}
p {
  margin-top: 0;
  margin-left: 20px;
}
@media screen and (min-width: 769px) {
  .info {
    padding-left: 30px;
  }
  .info_title {
    padding-left: 0;
  }
}
/* section 2*/
.cottage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.leshebergements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 60px;
}
h1 {
  margin: 0;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: left;
}
.cottage_title {
  display: none;
}
.hebergements_title {
  margin-left: 15px;
  padding-top: 50px;
}
.hotel {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 11px 0 #e0e0e0;
  box-shadow: 2px 2px 11px 0 #e0e0e0;
  height: 220px;
  width: 90%;
  margin-top: 20px;
}
.hotel_hebergement {
  line-height: 15px;
}
.img {
  -o-object-fit: cover;
  object-fit: cover;
  border: 1px solid transparent;
  padding-left: 5px;
  margin-top: 5px;
  padding-right: 5px;
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 120px;
}
.text_hebergement {
  margin-top: 2px;
  margin-left: 20px;
}
.show_more {
  padding-top: 20px;
  margin-left: 20px;
  font-weight: 800;
  font-size: larger;
  color: black;
  text-decoration: none;
}
.star {
  color: #0065fc;
  margin-left: 20px;
  font-size: medium;
  margin-bottom: 10px;
}
.empty {
  color: #80808047;
}
.euro {
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  .leshebergements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: justify;
    margin: 20px;
    padding: 0;
  }
  .cottage {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .cottage {
    margin: 20px;
  }
  .leshebergements {
    width: auto;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 20px;
    border-color: #f2f2f2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-left: 40px;
  }
  .hotel {
    float: left;
    width: 30%;
    text-align: center;
    font-style: normal;
    font-size: smaller;
    text-indent: 0;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 2px #e0e0e0;
    box-shadow: 2px 2px 2px #e0e0e0;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
    margin: 0.5em;
  }
  .hotel_hebergement {
    text-align: left;
    font-size: medium;
  }
  .star_hotel {
    margin-top: 0;
  }
  .night {
    margin-left: 10px;
    line-height: 5px;
  }
  .show_more {
    display: inline-block;
    text-align: left;
    padding-top: 20px;
    margin-left: 0;
  }
}
/* Les plus populaires */
#pop {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 15px;
}
.title_aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0;
  align-items: baseline;
}
h2 {
  margin-left: 20px;
}
.hotel_aside {
  border-color: white;
  background-color: white;
  border-radius: 20px;
  border: solid white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  text-decoration: none;
}
.img_aside {
  width: 40%;
  height: 100%;
  border: 1px solid #deebff;
  border-radius: 20px 0 0 20px;
  -o-object-fit: cover;
  object-fit: cover;
  float: left;
  margin-right: 10px;
}
.text_aside {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: large;
  padding: 4px 0;
}
.line {
  font-weight: 800;
  font-size: x-large;
}
h4 {
  color: black;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 800;
}
.night_pop {
  color: black;
  margin-left: 10px;
}
.euro {
  font-weight: 800;
}
.star_hotel {
  color: #0065fc;
  margin-left: 10px;
  font-size: medium;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #pop {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 30%;
    border-radius: 25px;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }
  .hotel_aside {
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 200px;
  }
  .line {
    padding-left: 50px;
  }
  .night {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
  }
  .star_hotel {
    margin-top: 40px;
  }
  .night_pop {
    margin-left: 0;
  }
}
@media screen and (min-width: 1025px) {
  #pop {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 30%;
    border-radius: 25px;
    margin: 20px;
    margin: 30px 0 40px 20px;
  }
  .hotel_aside {
    margin-bottom: 20px;
  }
  .text_aside,
  h4,
  .night_pop,
  .star_hotel {
    margin: 0;
  }
  .night-pop {
    margin-left: 0;
  }
}
/* grid */
.activities {
  margin-left: 0;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 11px 0 #e0e0e0;
  box-shadow: 2px 2px 11px 0 #e0e0e0;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  height: 200px;
  width: 100%;
}
.activities_container {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.img_grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin: 0;
  width: 100%;
  height: 140px;
}
.container_grid {
  border-radius: 0 10px 10px 0;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-color: white;
  width: 90%;
}
.text {
  font-weight: 800;
  margin-left: 20px;
  margin-top: 20px;
  font-size: large;
}
@media screen and (min-width: 769px) {
  .activities_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(1fr, 4);
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    row-gap: 50px;
    margin-bottom: 50px;
  }
  .activities_container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .activities_container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .activities_container > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .activities_container > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .container_grid {
    -webkit-box-shadow: 2px 2px 11px 0 #e0e0e0;
    box-shadow: 2px 2px 11px 0 #e0e0e0;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .activities {
    margin: 0;
    border-radius: 20px;
  }
  .titre_grid {
    grid-column: 1 / -1;
    margin-left: 20px;
    margin-top: 20px;
  }
  .img_grid {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    margin: 0;
  }
  .grid1,
  .grid4 {
    height: 525px;
  }
  .photo1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    border-radius: 20px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
  }
  .photo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    border-radius: 20px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
  }
  .photo3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    border-radius: 20px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
  }
  .photo4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    height: 600px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
  }
  .photo5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    border-radius: 20px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
  }
  .photo6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    border-radius: 20px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
  }
}
/*footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.container_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  width: 100%;
}
.title_footer {
  font-weight: 800;
  list-style-type: none;
  line-height: 50px;
  text-decoration: none;
}
.list_footer {
  list-style-type: none;
  line-height: 30px;
  width: 250px;
  text-decoration: none;
}
.container_footer a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 769px) {
  .container_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #f2f2f2;
  }
  .footer {
    position: absolute;
    margin: 0;
    width: 100%;
  }
  .container_footer a {
    text-decoration: none;
    color: black;
  }
  .container_footer a:hover {
    color: #0065fc;
  }
  .title_footer {
    font-weight: bold;
    list-style-type: none;
    line-height: 50px;
  }
  .list_footer {
    list-style-type: none;
    line-height: 30px;
  }
}
