.navbar {
    display: flex;
}
@media screen and (min-width: 100px) and 
(max-width: 1500px) {
    .topbar {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
    }      
}

}
.topbar-logo {
    display: flex;
    padding: 11px 0;
    max-width: 1050px;
    margin: 0 auto;
}
a {
    color: #0065fc;
    font-weight: bolder;
    text-decoration: none;
}
.topbar-nav {
    display: flex;
    margin: 24px;
    font-size: small;
    justify-content: flex-end ;
    }
    .topbar-nav a {
        align-content: space-around;
    }
body {
    font-family: raleway, sans-serif;
    padding: 0 20px;
    max-width: 1050px;
    margin: 0 auto;
}
.container {
    padding: 0 20px;
    max-width: 1050px;
    margin: 0 auto;
}
.search {
    border: 0;
    text-align: center;
    background-color: #0065fc;
    color: white;
    border-radius: 10px;
    display: inline-block;
}
footer {
    display: flex;;
    flex-direction: row;
    background-color: #f2f2f2;
    flex-wrap: wrap;
    line-height: 2;
}
h3 {
    text-decoration: none;
}